name: Fetch JSON Data

on:
  workflow_dispatch:

jobs:
  fetch-json:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: 'jiang'

      - name: Fetch JSON data
        run: |
          curl https://api.dabing.one?whiteboard_id=946f23a3-75ef-48e3-8e7b-35c2376f2559 > src/resources/data.json

      - name: Save JSON data to repository
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "GitHub Actions"
          git checkout jiang || git checkout -b jiang
          git pull
          git add src/resources/data.json
          git diff --cached --quiet || git commit -m "Update data.json"
          git push origin jiang
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_TOKEN }}
